#priceInputOuterDiv {
    display: flex;
    justify-content: space-between;
}

#priceInputOuterDiv>div>p {
    color: #4c4;
    margin-top: 5px;
    margin-bottom: 0px;

}

#signD{
    margin-left: -86px;
}

#addToFavories {
    height: 36px;
}

#overideButtons {
    display: flex;
    justify-content: space-between;
}

#recentSigns>p:hover,
#FavoritesSigns>p:hover {
    background-color: #bfb;
}

#recentSigns>p,
#FavoritesSigns>p {
    border: 1px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
    background-color: yellow;
    border-radius: 5px;
    color: black;
    min-height: 50px;

}

#recentSigns {
    margin-left: 10px;
    margin-right: 25px;
    width: 250px;
    height: 505px;
    overflow-y: scroll;
}

#FavoritesSigns {
    margin-left: 10px;
    margin-right: 25px;
    width: 250px;
    height: 495px;
    overflow-y: scroll;
}

#recentOutDiv,
#FavoritesOutDiv {
    display: flex;
    color: #4c4;
    flex-direction: column;
    align-items: center;
}

#buttonToSwitchSignSizeToC,
#buttonToSwitchSignSizeToD {
    width: 100%;
}

#realHeader {
    width: 100%;
    padding: 5px;
    background-color: #444;
    border: solid whitesmoke 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#versionName {
    font-size: 1.2em;
    color: #4c4;

}

#versionName>p {
    margin: 5px;
}

#CurrentSignSize {
    font-size: 1.8em;
    color: #4c4;
    margin: 5px;
}

#realHeader>img {
    margin: 5px;
    cursor: pointer;
}

fieldset>legend {
    color: #7BBA2F;
    font-weight: bold;
    font-size: 1.2em;
}

#mustBuy {
    display: grid;
    grid-template-columns: 80% 20%;
}

#LBOption {
    position: relative;
    top: -2px;
}

fieldset {
    background-color: #483828;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="button"]:focus {
    border: 2px solid #B8B6B6;
    box-shadow: 0 0 25px 4px #bbffbb;
}

input[type="button"] {
    background-color: #7BBA2F;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #bfb;
    color: black;
}

input[type="text"] {
    height: 20px;
}

div#choosePriceType input[type="radio"],
div#onOff input[type="radio"],
div#chooseUnitType input[type="radio"],
div#overideButtons input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

div#choosePriceType label,
div#onOff label,
div#chooseUnitType label,
div#overideButtons label {
    display: inline-block;
    background-color: #ddd;
    padding: 8px 8px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border: 2px solid #444;
    border-radius: 4px;
}

div#choosePriceType input[type="radio"]:checked+label,
div#onOff input[type="radio"]:checked+label,
div#chooseUnitType input[type="radio"]:checked+label,
div#overideButtons input[type="radio"]:checked+label {
    background-color: #bfb;
    border-color: #4c4;
}

div#choosePriceType input[type="radio"]:focus+label,
div#onOff input[type="radio"]:focus+label,
div#chooseUnitType input[type="radio"]:focus+label,
div#overideButtons input[type="radio"]:focus+label {
    border: 2px solid black;
    box-shadow: 0 0 25px 4px #bbffbb;
}

div#choosePriceType label:hover,
div#onOff label:hover,
div#chooseUnitType label:hover,
div#overideButtons label:hover {
    background-color: #dfd;
    cursor: pointer;
}

#whenYouBuy {
    color: white;
    font-size: 18px;
    font-stretch: condensed;
}

#youSaveImg>a {
    overflow: visible;
}

#youSaveImg {
    display: grid;
    grid-template-columns: 78px 80px 60px 57px;
}

#youSaveR {
    height: 60px;
}

html {
    background-color: #24180D;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1250px;
    gap: 10px;
    justify-content: center;
    align-content: space-around;
}
#signBimage{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
#signCimage{
    height: 60%;
    width: 70%;
    cursor: pointer;
}
#signDimage{
    height: 45%;
    width: 55%;
    cursor: pointer;
}
#signB, #signC, #signD{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform .4s
}
#signB:hover, #signC:hover, #signD:hover{
 transform: scale(1.3);
}

h1{
    color: #4c4;
    font-size: 2rem;
}